form(action="/reply" method="POST")
    fieldset
        legend="Your Contact Info"
        label(for="name")="Name"
        input(type="text", name="name" required)
        label(for="email")="Email"
        input(type="email", name="email" required)
        br
        input(id="attending" type="radio", name="attending", value="true")
        label(for="attending") Im attending!
        
        input(id="notattending" type="radio", name="attending", value="false")
        label(for="notattending") Im not attending!
        br
        label(for="guests") The number of guests
        select#guests(name="guests")
          option(value=1) 1
          option(value=2) 2
          option(value=3) 3
          option(value=4) 4
          option(value=5) 5
          option(value=6) 6
          option(value=7) 7
          option(value=8) 8
        input(type="submit" value="register ") 